/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.icon {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
