/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

.header-main {
	background-color: #ccc;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;

	&__logo {
		float: left;
		width: 200px;
	}
	
	&--hidden {
		visibility: hidden;
	}
}

	.header-main--bottom {
		top: auto;
		bottom: 0;
	}

	.header-main--green {
		background-color: green;
	}

	.header-main--blue {
		background-color: blue;
	}



/*------------------------------------*\
    #NAV MAIN
\*------------------------------------*/

.nav-main {
	float: right;

	ul {

	}
}
	.nav-main__list {
		margin-left: 0;
		margin-bottom: 0;
		margin-right: 20px;
	}

	.nav-main__item {
		display: inline-block;

		a {
			color: black;
			display: block;
			line-height: 85px;
			height: 85px;
			padding: 0 10px;

			.header-main--blue & {
				color: white;
			}
		}
	}
