/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

.header-main {
	background-color: #ccc;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;

	&__logo {
		float: left;
		width: 200px;
	}
	
	&--hidden {
		visibility: hidden;
	}
}

	.header-main--bottom {
		top: auto;
		bottom: 0;
	}

	.header-main--green {
		background-color: green;
	}

	.header-main--blue {
		background-color: blue;
	}


