{% extends "./_templates/template.default.html" %}
{% set title = "About" %}
{% set page = "homepage" %}

{% block content %}
  {% include "_partials/partial.header.html" %}
  <main>
	  	<div class="container pt+">
	  		<h1>Justifize object</h1>
		  	<div class="justifize mv+">
		  		<div class="justifize__box">item</div>
		  		<div class="justifize__box">item</div>
		  		<div class="justifize__box">itemsdfsdf sdfsdf</div>
		  		<div class="justifize__box">item</div>
		  		<div class="justifize__box">item</div>
		  		<div class="justifize__box">item</div>
		  		<div class="justifize__box">item</div>
		  	</div><!-- end of .justifize -->
	  	</div>
  </main>
  {% include "_partials/partial.footer.html" %}
{% endblock %}
